$primary: #00ff41;
$danger: #ff4036;
$warning: #ffbd2e;
$maintenance: #3498db;
$link-color: #00ff41;
$border-radius: 50rem;
$secondary-text: #a0a0a0;

$highlight: #00f260;
$highlight-white: rgba(0, 242, 96, 0.1);

$dark-font-color: #ffffff;
$dark-font-color2: #020202;
$dark-bg: #020202;
$dark-bg2: rgba(255, 255, 255, 0.03);
$dark-border-color: rgba(255, 255, 255, 0.08);
$dark-header-bg: #050505;

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.5rem;
